<h1 class="title"><%= @product.title %></h1>
<p class="description"><%= @product.description %></p>
<p class="price"><%= @product.price %></p>
<%= link_to 'Editar producto', edit_product_path(@product) %>
<%= button_to 'Eliminar producto',product_path(@product), method: :delete%>
<%= @product.photo.attached? %>
<% if @product.photo.attached? %>
    <%= image_tag @product.photo , width:500 %>
<% else %>
    <p>No hay imagen</p>
<% end %>

